<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Page</title>
    <link rel="stylesheet" href="css/signIn.css" />
  </head>
  <body>
    <% if(errorMessage){ %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <div class="signin-container">
      <h2>Sign In</h2>
      <form action="/signin" method="POST" novalidate enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input
          class="<%= errorsArray.find(e=>e.path===`name`) ? `invalid` : `` %>"
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          value="<%= oldInputs.name %>"
          required
        />

        <label for="image">User Image:</label>
        <input type="file" name="image" id="image"/>

        <label for="email">Email:</label>
        <input
        class="<%= errorsArray.find(e=>e.path===`email`) ? `invalid` : `` %>"
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          value="<%= oldInputs.email %>"
          required
        />

        <label for="password">Password:</label>
        <input
        class="<%= errorsArray.find(e=>e.path===`password`) ? `invalid` : `` %>"
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          value="<%= oldInputs.password %>"
          required
        />

        <label for="confirmPassword">Confirm Password:</label>
        <input
        class="<%= errorsArray.find(e=>e.path===`confirmPassword`) ? `invalid` : `` %>"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Enter your password"
          value="<%= oldInputs.confirmPassword %>"
          required
        />

        <button type="submit">Sign In</button>
      </form>
    </div>
    <button><a href="/page2">Back to Homepage</a></button>
  </body>
</html>
